@page "/KnowledgeBase"
@using Amazon.BedrockAgent
@using Amazon.BedrockAgent.Model
@using Amazon.BedrockAgentRuntime
@using Amazon.BedrockAgentRuntime.Model
@using Amazon.BedrockRuntime
@using Amazon.GenAI.Abstractions.Bedrock
@using Amazon.GenAI.Abstractions.ChatHistory
@using Amazon.GenAI.Abstractions.Message
@using Markdig
@inject MarkdownPipeline Pipeline
@inject IJSRuntime JsRuntime
@inject AmazonBedrockRuntimeClient BedrockRuntimeClient


<MudStack Style="width: 100%">
	<MudCard>
		<MudCardContent>
			<div>
				<MudText Typo="Typo.h4">AWS Summit Bedrock</MudText>
				<MudSelect T="KnowledgeBaseSummary" @bind-Value="_knowledgeBase" ToStringFunc="@_selectConverter" Required="true"
						   Label="Select Knowledgebase"
						   Variant="Variant.Outlined">
					@foreach (var item in _knowledgeBases!)
					{
						_knowledgeBase ??= item;
						<MudSelectItem Value="@item" />
					}
				</MudSelect>
				<div>
					Text Model: <strong>Claude 3 Haiku (@_textModelId)</strong>
				</div>
				<div>@_knowledgeBase?.Description</div>
			</div>
			<br />
			<MudTimeline Reverse="true">
				@foreach (var item in _chatMessageHistory.Messages)
				{
					var label = item.Role == MessageRole.Human ? "Human" : "Assistant";
					<MudTimelineItem>
						<MudField Label="@label" Class="white-space-pre-line">
							@((MarkupString)Markdown.ToHtml(item.Content, Pipeline))
						</MudField>
					</MudTimelineItem>
				}
				<MudTimelineItem>
					<MudTextField id="PromptId" @ref="_promptField" T="string" ValueChanged="@OnPromptChanged" Label="Human"></MudTextField>
				</MudTimelineItem>
			</MudTimeline>
		</MudCardContent>
		<Progress Status="_status" OnClickCallback="Submit"></Progress>
	</MudCard>
</MudStack>

@code {

	#region Variables

	AmazonBedrockAgentRuntimeClient? _agentClient;

	private string? _textModelId;

	enum Status
	{
		Default,
		Thinking,
		Indexing,
		Adding
	}
	Status _status = Status.Default;

	private readonly ChatMessageHistory _chatMessageHistory = new();
	private MudTextField<string>? _promptField;

	private KnowledgeBaseSummary? _knowledgeBase;
	private List<KnowledgeBaseSummary?>? _knowledgeBases = new();
	readonly Func<KnowledgeBaseSummary, string> _selectConverter = kb => string.Concat(kb?.Name, " , (", kb?.KnowledgeBaseId, ")");

	#endregion

	protected override async Task OnInitializedAsync()
	{
		_textModelId = "amazon.titan-text-lite-v1";

		_agentClient = new AmazonBedrockAgentRuntimeClient();

		var knowledgeBasesRequest = new ListKnowledgeBasesRequest();
		_knowledgeBases = (await new AmazonBedrockAgentClient().ListKnowledgeBasesAsync(knowledgeBasesRequest)).KnowledgeBaseSummaries
			.OrderBy(x => x.UpdatedAt)
			.Where(x => x.Status.Equals("Active"))
			.ToList();

		await base.OnInitializedAsync();
		StateHasChanged();
	}

	// This method is called when the user enters a new prompt or question
	private async Task OnPromptChanged(string question)
	{
		// Check if the question is null or empty, and return if it is
		if (string.IsNullOrEmpty(question))
			return;

		// Set the status to "Thinking" to indicate that the application is processing the question
		_status = Status.Thinking;
		// Trigger a UI update to reflect the new status
		StateHasChanged();

		// Add the user's question to the chat message history
		await _chatMessageHistory.AddUserMessage(question);

		// Create a new RetrieveAndGenerateRequest object with the user's question as input
		var request = new RetrieveAndGenerateRequest
			{
				Input = new RetrieveAndGenerateInput { Text = question },
				RetrieveAndGenerateConfiguration = new RetrieveAndGenerateConfiguration
				{
					// Set the type of the request to "KNOWLEDGE_BASE"
					Type = RetrieveAndGenerateType.KNOWLEDGE_BASE,
					KnowledgeBaseConfiguration = new KnowledgeBaseRetrieveAndGenerateConfiguration
					{
						// Set the knowledge base ID to the ID of the selected knowledge base
						KnowledgeBaseId = _knowledgeBase?.KnowledgeBaseId,
						// Set the model ARN to the ID of the text model
						ModelArn = _textModelId,
						RetrievalConfiguration = new KnowledgeBaseRetrievalConfiguration
						{
							VectorSearchConfiguration = new KnowledgeBaseVectorSearchConfiguration
							{
								// Set the search type to "HYBRID"
								OverrideSearchType = "HYBRID",
								// Uncomment and configure the Filter property to apply additional filters
								// Filter = new RetrievalFilter
								// {
								//     Equals = new FilterAttribute
								//     {
								//         Key = "year",
								//         Value = new Document(2020)
								//     }
								// }
							}
						}
					}
				}
			};

		// Send the RetrieveAndGenerateRequest to the Amazon Bedrock service and get the response
		var result = await _agentClient!.RetrieveAndGenerateAsync(request);

		// Add the response from the service to the chat message history
		await _chatMessageHistory.AddAiMessage(result.Output.Text!);

		// Invoke the following code on the UI thread
		await InvokeAsync(() =>
		{
			// Clear the prompt field
			_promptField?.SetText("");
			// Set the status back to "Default"
			_status = Status.Default;
			// Scroll to the prompt field in the UI
			JsRuntime.InvokeVoidAsync("scrollToElement", "PromptId");

			// Trigger a UI update to reflect the changes
			StateHasChanged();
			return Task.CompletedTask;
		});
	}

	

	#region Utility Methods

	private async Task Clear()
	{
		await _chatMessageHistory.Clear();
		await _promptField?.SetText("")!;
		await Task.Delay(100);
	}

	private async Task Reset(MouseEventArgs e)
	{
		await _promptField?.SetText("")!;
		await _chatMessageHistory.Clear();
	}

	#endregion
}